html, body, #wrap {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: #F3F3F3;
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
}

.background {
    height: 250px;
    border-bottom: 10px solid #1A2E69;
}

.profile {
    width: 200px;
    height: 200px;
    border: 10px solid white;
    outline: 1px solid #DDD;
    margin: -150px 0 20px 20px;
}

section, footer {
    padding: 20px;
    box-sizing: border-box;
    min-height: 100px;
    border-bottom: 2px solid #DDD;
}

.project:last-child {
    border-bottom: none;
}

section > p {
    margin-left: 10px;
}

.icon-link {
    text-decoration: none;
    color: black;
}

table th {
    text-align: center;
}

.project {
    margin: 25px 0 25px 10px;
    padding: 10px 0;
    border-bottom: 1px solid #D3D3D3;
}

.project > h6, .project > p {
    margin-left: 80px;
    text-indent: -70px;
}

.table-fixed {
    table-layout: fixed;
}

a {
    text-decoration: underline dotted black;
    color: black;
}

@media print{
    .background {
        height: 200px;
    }

    .profile {
        margin-top: -150px;
    }

    .project {
        break-after: avoid;
    }

    .link-github:after {
        content: " (" attr(href) ") ";
        font-size: 80%;
    }

    footer {
        display: none;
    }
}
